.manage-handbook-container {
      padding: 0 15px;

      .mhb-title {
            text-align: center;
            text-transform: uppercase;
            margin: 10px 0;
            font-weight: 600;
            font-size: 18px;

      }

      .create-new-handbook {

            .btn-add-new-handbook {
                  border: none;
                  background: orange;
                  padding: 10px 20px;
                  min-width: 75px;
                  border-radius: 4px;
                  margin: 12px 0;
                  font-size: 16px;
            }
      }
}