.login-background {
      height: 100vh;
      background: linear-gradient(135deg, rgba(34,193,195,1) 0%,  rgba(253,187,45,1) 100%);

      .login-container {
		height:100%;
            width:400px;
            margin:0 auto;
		border-radius: 10px;
		background-color: white;

		.login-content {
			padding: 10px;

			.text-login {
				font-weight: 600;
				font-size: 24px;
				padding-top: 10px;
				text-align: center;
			}

			.login-input {
				margin: 8px 0;
			}

			.btn-login {
				width: 100%;
				margin: 10px 0;
				height: 30px;
				border-radius: 20px;
				outline: none;
				border: none;
				color:white;
				font-size: 16px;
				background: linear-gradient(135deg, rgba(34,193,195,1) 0%,  rgba(253,187,45,1) 100%);
				
			}

			.forgot-password {
				font-size: 12px;
			}

			.social-login {
				display:flex; 
				align-items: center;
				justify-content: center;
				margin-top: 10px;

				.google {
					font-size: 30px;
					background: #c32424;
					border-radius: 50%;
					height: 50px;
					width: 50px;
					display: flex;
					align-items: center;
					justify-content: center;
					color: white;
					margin-right: 10px;
				}

				.facebook {
					font-size: 30px;
					background: rgb(52, 52, 164);
					border-radius: 50%;
					height: 50px;
					width: 50px;
					display: flex;
					align-items: center;
					justify-content: center;
					color: white;
				}
			}
		}
      }

	
}

