.clinic-child {
      cursor: pointer;
      border-radius: 16px;
      border-color: rgb(241, 241, 241);
      background-color: rgb(255, 255, 255);
      border: 1px solid #e8d7d7;
      width: 400px !important;
      height: 280px;

      .section-medical-facility {
            margin-left: 40px;
            background-size: contain !important;
            height: 230px !important;
      }

      .clinic-name {
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            color: rgb(26, 26, 26);

            &:hover {
                  color: #45c3d2
            }
      }
}