//reset slick slider scss
.slick-prev {
	left: -10px !important;
	z-index: 1000 !important;
	height: 48px !important;
	width: 44px !important;
	background: #fff !important;
	border: 2px solid #d7d7d7 !important;

	&:hover {
		background: #eceaea !important;
	}

}

.slick-prev:before,
.slick-next:before {
	font-family: FontAwesome !important;
	color: red !important;
	// content: "\f060" !important;
}

.slick-next {
	right: -10px !important;
	height: 48px !important;
	width: 44px !important;
	z-index: 1000 !important;
	border: 2px solid #d7d7d7 !important;
	background: #fff !important;

	&:hover {
		background: #eceaea !important;
	}
}

.slick-disabled {
	display: none !important;
}

.section-share {
	&.section-specialty {
		background: #f5f5f5;
	}

	&.section-outstanding-doctor {
		background: #f5f5f5;
		background-image: url("../../assets/outstanding-doctor/background-outstanding-doctor.png");
		height: 400px !important;

	}

	&.section-about {
		height: 500px !important;
	}

	.section-body {
		.section-customize {
			.bg-image {
				width: 300px;
				height: 217px;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				background-color: #eee;
				margin: 0 10px;

				&.section-specialty {
					// background-image: url("../../assets/specialty/co-xuong-khop.png");
				}

				&.section-medical-facility {
					// background-image: url("../../assets/medical-specialty/benh-vien-thu-cuc.jpeg");
					width: 300px;
					height: 180px;
				}

				&.section-outstanding-doctor {
					background-image: url("../../assets//outstanding-doctor/anh-dai-dien-bs.jpeg");
					width: 120px;
					height: 120px;
					border-radius: 50%;
				}

				&.section-handbook {
					width: 270px;
					height: 140px;
					background-image: url("../../assets//handbook/hangbook.png");
				}
			}
		}
	}
}

.section-share {
	height: 330px;

	.section-container {
		margin: 0 100px;
		display: flex;
		flex-direction: column;

		.section-header {
			height: 60px;
			margin-bottom: 30px;
			padding-top: 30px;

			.title-section {
				font-size: 22px;
				font-weight: 600;
			}

			.btn-section {
				float: right;
				padding: 12px 15px;
				border: none;
				outline: none;
				display: block;
				background: #DAF3F6;
				color: rgb(52, 146, 158);
				cursor: pointer;
				border-radius: 16px;
				font-size: 18px;
				font-weight: 500;

				&:hover {
					color: #fff;
					background: #f7d800;
				}
			}
		}



	}
}

.section-outstanding-doctor {
	.outer-bg {
		display: flex;
		justify-content: center;
		margin-bottom: 10px;
	}

	.section-customize {
		padding: 5px;
		cursor: pointer;

		.customize-border {
			border: 1px solid orange;
			padding: 20px;
		}
	}
}

.home-footer {
	text-align: center;
	padding-top: 8px;

	a {
		text-decoration: unset;
	}

	.intro-footer {
		height: 275px;
		display: flex;
		width: 100%;
		background-color: rgb(239, 239, 239) !important;
		padding: 10px 50px;

		.content-left {
			width: 40%;
			display: block;
			padding: 10px 10px;


			.content-body-left {
				display: flex;
				padding: 0 20px;

				.inside-body-left {
					font-size: 15px;

					i {
						margin-right: 5px;
					}

					p {
						font-weight: 555;
					}
				}
			}


		}

		.content-middle {
			height: 100%;
			width: 20%;
			background-color: rgb(239, 239, 239) !important;

			.img-middle {
				display: block;
				background-image: url('../../assets/logo-1.svg');
				width: 140px;
				height: 50px;
				background-repeat: no-repeat;
				background-position: center;
				margin-left: 40px;
				margin-bottom: -16px;
			}

			.mid {

				ul {
					// display: block !important;
					list-style-type: none;
					/* This removes the bullets from the list items */

					li {

						// display: block;
						a {
							color: #45c3d2;
							font-size: 16px;
							float: left;
							outline: none;
							font-weight: 400;
							margin: 4px 10px;
						}
					}
				}
			}


		}

		.content-right {
			width: 40%;
			display: block;

			.container-right {
				display: flex;

				.img-footer-right {
					height: 70px;
					width: 70px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					object-fit: contain;
					margin: 0 10px;
					cursor: pointer;

				}

				.container-right-footer {
					display: block;

					.title-footer-xyz {
						font-weight: 600
					}

					.xyz-title-1 {
						margin-right: 225px;
					}

					.intro-footer-xyz {}

				}

				.img-1 {
					background-image: url('../../assets/img-footer/hellodoctorlogo.png');
				}

				.img-2 {
					background-image: url('../../assets/img-footer/logo-bernard.png');

				}

				.img-3 {
					background-image: url('../../assets/img-footer/doctor-check-2.png');
				}
			}


			.title-right-intro {
				font-weight: 600;
			}
		}
	}

	.bottom-footer {
		height: 80px;
		background-color: #64B9E5;
		padding: 12px;

		.bottom-container {
			width: 100%;
			padding: 0 16px;
			display: flex;

			.bottom-left {
				width: 40%;
				float: right;
				font-size: 16px;

				p {
					color: #ffffff;
					font-size: 18px;
					float: right;
				}
			}

			.bottom-right {
				width: 40%;

				i {
					margin: 0 4px;
					font-size: 32px;
					cursor: pointer;
				}

				.tiktok {
					color: #000000
				}

				.facebook {
					color: blue
				}

				.youtube {
					color: red
				}
			}
		}


	}

}

.section-about {
	background-image: url('../../assets/background-previous-footer.png');
	padding: 0 100px;

	.section-about-header {
		padding: 20px 10px;
		font-size: 22px;
		font-weight: 600;
	}

	.section-about-content {
		display: flex;
		gap: 15px;
		width: 100%;

		.content-left {
			width: 60%;
		}

		.content-right {
			width: 40%;

			p {
				text-align: justify;
				font-style: italic;
				padding: 15px;
			}

			.right-about {
				display: flex;
				flex-flow: wrap;
				justify-content: space-between;
				/* Adjust as needed */

				.img-about {
					height: 65px;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: rgb(255, 255, 255);
					border-radius: 10px;
					width: calc(50% - 20px);
					margin: 10px 10px;
					width: 225px;

					.img-1,
					.img-2,
					.img-3,
					.img-4 {
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center;
						height: 40px;
						width: 165px;
					}

					.img-1 {
						background-image: url('../../assets/img-footer/ictnews.png');
					}

					.img-2 {
						background-image: url('../../assets/img-footer/thong-tin-bo-y-te.png');
					}

					.img-3 {
						background-image: url('../../assets/img-footer/vtcnewslogo.png');
					}

					.img-4 {
						background-image: url('../../assets/img-footer/vtv1.png');
					}
				}
			}


		}
	}
}